:root {
  --bg-color: rgb(255 241 245);
  --text-color: #000;
  --primary-color: rgb(158 0 82);
  --visited-color: rgb(69 0 149);
  --hover-color: rgb(226 9 121);
  --active-color: rgb(0 157 255);
  --highlight-color: rgb(255 192 203 / 0.418);
  --highlight-shadow: rgb(173 121 129 / 0.2);
  --primary-button-bg-color: palevioletred;
  --primary-button-text-color: white;
  --primary-button-bg-hover: rgb(253 161 192);
  --primary-button-bg-active: rgb(125 8 47);
  --secondary-color: rgb(112 168 216);
  --secondary-color-hover: rgb(175 216 252);
  --secondary-color-active: rgb(48 82 112);
  --font-x-large: 4rem;
  --font-large: 3rem;
  --font-medium: 1.5rem;
  --font-small: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  color: var(--text-color);
  font-size: var(--font-medium);
}

nav {
  font-family: "Roboto Mono", monospace;
  font-size: var(--font-medium);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

a:visited {
  color: var(--visited-color);
}

a:hover,
a:focus {
  color: var(--hover-color);
}

a:active {
  color: var(--active-color);
}

button {
  background-color: var(--primary-button-bg-color);
  color: var(--primary-button-text-color);
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  border-bottom: 2px solid rgb(0 0 0 / 0.3);
  border-right: 2px solid rgb(0 0 0 / 0.3);
}

button:hover {
  background-color: var(--primary-button-bg-hover);
  cursor: pointer;
}

/* /*  */
button:active {
  background-color: var(--primary-button-bg-active);
}

h1 {
  font-size: var(--font-x-large);
}

h2 {
  font-weight: 400;
  font-size: var(--font-large);
}

p {
  font-size: var(--font-medium);
  line-height: 1.5;
}

th {
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: var(--text-color) 2px solid;
}

td {
  padding-bottom: 1rem;
  text-align: center;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header-item {
  flex-basis: 100px;
  flex-shrink: 1;
}

.page-header-item:last-child {
  flex-grow: 1;
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.headline {
  align-self: center;
}

.work-section {
  display: flex;
  flex-direction: column;
}

.secondary-button {
  background-color: var(--secondary-color);
}

.secondary-button:hover {
  background-color: var(--secondary-color-hover);
}

.secondary-button:active {
  background-color: var(--secondary-color-active);
}

.logo {
  width: 30px;
  height: auto;
  object-fit: contain;
}

.profile {
  /* max-width: 700px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.profile-picture {
  float: left;
  width: 20rem;
  max-width: 300px;
  min-width: 100px;
  border-radius: 50%;
  margin: 40px;
}

.profile-text {
  align-items: center;
  justify-content: center;
  width: 25rem;
}

.text-highlight {
  color: var(--bg-color);
  background-color: var(--primary-color);
  padding: 0 0.4rem;
  border-radius: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
}

.social-media {
  flex-grow: 1;
  background-color: var(--highlight-color);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px 1px var(--highlight-shadow);
  margin-bottom: 2rem;
}

.social-media a {
  margin-right: 10px;
  display: flex;
}

.social-media a:last-child {
  margin-right: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 50px;
  justify-content: center;
}

.grid-item {
  background-color: var(--highlight-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px var(--highlight-shadow);
}

.grid-item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-item:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.grid-item:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

.back-to-top-link {
  padding-top: 50px;
}

.about-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 4rem;
}

.about-section > p {
  width: 40rem;
  margin-top: 3rem;
}

.table {
  margin-top: 3rem;
}

.contact-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.form-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: end;
  margin-top: 3rem;
}

.button {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: var(--highlight-color);
  box-shadow: 5px 5px 5px 1px var(--highlight-shadow);
  transition-property: background-color, transform;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  background-color: rgb(255 192 203 / 0.8);
}

.svg-box {
  width: 35rem;
}

/* // */

/* // */

/* // */

/* // */

/* ANIMATIONS */

svg * {
  transform-box: fill-box;
}

.sun {
  animation-name: color-change;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.sun:hover {
  animation-play-state: paused;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.cloud-front {
  animation-name: cloud-move;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

  /* animation: cloud-move 10s ease-in-out 0 infinite alternate both; */
}

@keyframes cloud-move {
  0% {
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(200px, 50px);
  }
}

.cloud-back {
  animation: cloud-move-reverse 10s ease-in-out infinite alternate both;
}

@keyframes cloud-move-reverse {
  0% {
    transform: translate(446px, 50px);
  }

  100% {
    transform: translate(300px, 50px);
  }
}

/* MEDIA QUERIES */

@media all and (width <= 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .about-section > p {
    width: 30rem;
    margin-top: 3rem;
  }

  .grid-item:last-child {
    grid-column: auto;
    grid-row: auto;
  }

  .grid-item:nth-child(3) {
    grid-column: auto;
    grid-row: auto;
  }

  .grid-item:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
  }
}

@media all and (width <= 800px) {
  h1 {
    font-size: var(--font-large);
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .profile {
    flex-direction: column;
  }

  .profile-picture {
    width: 15rem;
  }

  .profile-text {
    width: 25rem;
    text-align: center;
  }

  p {
    font-size: var(--font-small);
  }

  .about-section > p {
    width: 15rem;
    margin: 2rem 1rem 1rem 0;
  }

  .social-media {
    margin-bottom: 3rem;
  }

  .form-section {
    width: 10rem;
  }

  .table {
    font-size: var(--font-small);
    margin: 5rem 2rem 2rem;
  }

  .svg-box {
    width: 20rem;
  }

  /* .hamburger-menu {
    position: absolute;
    margin-top: 0;
  }

  .hamburger-menu img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  } */
}

@media all and (width <= 650px) {
  /* HAMBURGER NAVBAR */

  .page-header {
    display: flex;
    width: 100%;
    padding: 20px;
  }

  .page-header-item {
    flex-basis: 100px;
    flex-shrink: 1;
  }

  .page-header-item:last-child {
    flex-grow: 1;
    text-align: right;
    justify-content: end;
    align-items: center;
  }

  .navigation-list li {
    display: block;
    margin-left: 15px;
    padding: 5px;
    font-size: var(--font-medium);
  }
}

@media all and (width <= 400px) {
  .navigation-list li {
    font-size: var(--font-small);
  }
}
